body{
  margin:0px;
  padding:0px;
  background-color: rgb(35, 56, 56);
} 

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 4px solid rgb(255, 60, 0);
  gap: 4em;
}

h1, h3 {
  text-align: center;
  margin: 5px;
}
#logo{
  cursor: pointer;
}

#h1Name{
  border-bottom: 4px solid rgb(255, 60, 0);
}

#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
}

#centeredContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */

}

#aboutImage{
  margin-top: 15px;
  border: 5px white solid;
}

#shishLabel{
  margin-top: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
}

#aboutText{
  margin-top: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

#deliveryDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  margin-top: 100px;
  gap: 15px;
  color: white;
  font-size: 25px;
}

.deliveryLink{
  width: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.tab {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
  width: 70px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0);
}

.tab:hover{
  border: 2px solid rgb(255, 255, 255);
}

.selectedTab{
  border: 2px solid rgb(255, 60, 0);
}

.selectedTab:hover{
  border: 2px solid rgb(255, 60, 0);
}

.menuImage{
  width: 600px;
  height: 400px;
  object-fit: cover;
  border: 2px white solid;

}

.menuLabel{
  font-size: 35px;
  color: white;
  text-align: center;
  border: 2px white solid;
  border-bottom: none;
  margin-top: 25px;
  padding: 0px 5px;
}

#orderLinksDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  gap: 20px;
  margin-top: 50px;
}

.orderLink{
  width: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
}

#contactDiv{
  border: black, solid 1px;
  margin-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


